/* 리셋 */
body {margin: 0;}
h1, h3, p {margin: 0;}


/* 전역 변수 */
:root {
    --primary: blue;
}


/* 헤더 */
.header {
    border: 1px solid black;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* 메인 */
.main {
    border: 1px solid blue;
}
/* 메인 - 테이블 */
.indexTable {
    border: 1px solid black;
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}
.indexTable th, td {
    border: 1px solid black;
    text-align: center;
}
/* 기능 컬럼의 셀 */
.actionTd form {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.actionTd a {
    text-decoration: none;
}
/* input 태그 버튼처럼 보이지 않도록 하기 */
.btn-link {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* 페이지 추가 */
.pageContentContainer {
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    box-sizing: border-box;
}
.createForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.inputContainer {
    display: flex;
    flex-direction: column;
}
.formSubmitBtn {
    display: flex;
    justify-content: space-between;
}
.formErrorContainer {
    display: flex;
    flex-direction: column;
}
.formError {
    color: red;
}